/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  width: 100%;
}

.header {
  font-family: meno-banner, serif;
  position: fixed;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
  padding: 15px 0;
  mix-blend-mode: difference;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__ttl {
  padding-left: 15px;
  font-size: 20px;
  color: #737777;
}

.gnav {
  width: 100%;
  height: 100vH;
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
}
.gnav__nav {
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.gnav__link {
  font-family: meno-banner, serif;
  text-transform: uppercase;
  display: block;
  padding: 20px;
  color: #b4b3d0;
  font-size: 200px;
  text-decoration: none;
  mix-blend-mode: difference;
}

.btn {
  width: 20px;
  height: 5px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}
.btn__top {
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.btn__bottom {
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
@media screen and (min-width: 768px) {
  .btn {
    width: 40px;
    height: 5px;
    right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    width: 40px;
    height: 5px;
    right: 20px;
  }
}

.footer__txt {
  text-align: center;
  font-size: 10px;
  color: black;
}

body {
  cursor: crosshair;
}

.heading {
  font-family: meno-banner, serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.165);
  font-size: 30vw;
  left: 0;
  line-height: 1;
  margin: -5vw 0 0;
  top: 0;
  -webkit-transform-origin: 50% 40%;
          transform-origin: 50% 40%;
  white-space: nowrap;
  width: 100%;
  z-index: 1000;
}
.heading--down {
  bottom: 0;
  margin-bottom: -10vw;
  margin-top: 0;
  top: auto;
  -webkit-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
  mix-blend-mode: overlay;
}
@media screen and (min-width: 768px) {
  .heading {
    margin-bottom: -6vw;
  }
}
@media screen and (min-width: 1024px) {
  .heading {
    margin-bottom: -13vw;
    font-size: 20vw;
  }
}

#cursor {
  position: fixed;
  margin: 0 auto;
  z-index: 7;
  pointer-events: none;
  opacity: 0;
}

#stalker {
  position: fixed;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin: -50px 0 0 -50px;
  z-index: 6;
  pointer-events: none;
  background: rgba(238, 99, 99, 0.987);
  mix-blend-mode: saturation;
  opacity: 0;
}
.mv {
  font-family: meno-banner, serif;
  font-weight: 400;
  font-style: normal;
  z-index: -7;
  position: relative;
  height: 200vh;
  width: 100%;
  margin-bottom: 280px;
  mix-blend-mode: difference;
  color: #a0e6368c;
}
@media screen and (min-width: 768px) {
  .mv {
    height: 200vh;
    margin-bottom: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .mv {
    height: 200vh;
    margin-bottom: 530px;
  }
}
.mv__ttl {
  position: sticky;
  top: 0;
  left: 0;
  height: 80vh;
  margin-bottom: 300px;
}
@media screen and (min-width: 768px) {
  .mv__ttl {
    height: 40vh;
    margin-bottom: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .mv__ttl {
    height: 40vh;
    margin-bottom: 300px;
  }
}
.mv__ttl--catch {
  padding-top: 70%;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .mv__ttl--catch {
    font-size: 100px;
  }
}
@media screen and (min-width: 1024px) {
  .mv__ttl--catch {
    font-size: 150px;
    padding-top: 19%;
    line-height: 140px;
  }
}
.mv__ttl--txt {
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .mv__ttl--txt {
    font-size: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .mv__ttl--txt {
    font-size: 50px;
  }
}

.consept {
  position: relative;
}
.consept__ttl {
  font-family: meno-banner, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.618);
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .consept__ttl {
    font-size: 40px;
  }
}
.consept__txt {
  font-weight: lighter;
  font-family: "Klee One", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  line-height: 34px;
  width: 330px;
  height: 100%;
}
@media screen and (min-width: 1024px) {
  .consept__txt {
    font-size: 18px;
    width: 400px;
  }
}

.test {
  -webkit-filter: blur(2px);
          filter: blur(2px);
  mix-blend-mode: overlay;
  color: #8279b6;
  margin-bottom: 100px;
  height: 100vh;
}

.contact__ttl {
  position: relative;
  z-index: 2;
  font-size: 50px;
  text-align: center;
  color: #da3b3b;
  mix-blend-mode: difference;
}

.form {
  position: relative;
  z-index: 1;
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .form {
    max-width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .form {
    font-size: 200%;
  }
}
.form__name {
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}
.form__email {
  max-width: 500px;
  width: 100%;
  margin-bottom: 20px;
}
.form__label {
  mix-blend-mode: difference;
  max-width: 500px;
  width: 100%;
  display: block;
  padding: 20px 0;
  color: #6f5140;
  font-size: 20px;
}
.form__input {
  width: 100%;
  height: 25px;
  border: none;
  vertical-align: top;
}
.form__message {
  max-width: 500px;
  width: 100%;
}
.form__textarea {
  margin-bottom: 20px;
  width: 100%;
  height: 130px;
  padding: 10px;
  background: #c7c7c7;
}
.form__submit {
  -webkit-appearance: none;
  width: 100%;
  padding: 0 100px 0 100px;
  background: #1d1d1d;
  color: azure;
  bottom: none;
  border-radius: 24px;
  font-size: 14px;
  letter-spacing: 0.2em;
  margin-bottom: 100px;
}
.form__submit:hover {
  cursor: pointer;
  background: #bababa;
}

.bg__bg0 {
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 9000px;
  position: absolute;
  background: #6D4739;
}

.bg__bg1 {
  z-index: -9;
  position: fixed;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  will-change: transform;
  -webkit-animation: rotate-anime 70s linear infinite;
          animation: rotate-anime 70s linear infinite;
  visibility: visible;
  background: url(./../images/mv.jpg) center/cover;
  content: "";
  top: -300px;
  left: -200px;
  width: 1468px;
  height: 1468px;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  mix-blend-mode: lighten;
}
@media screen and (min-width: 1024px) {
  .bg__bg1 {
    top: -1150px;
    left: -200px;
    width: 3342px;
    height: 3342px;
  }
}

@-webkit-keyframes rotate-anime {
  0% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  100% {
    -webkit-transform: rotate(-410deg);
            transform: rotate(-410deg);
  }
}

@keyframes rotate-anime {
  0% {
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
  }
  100% {
    -webkit-transform: rotate(-410deg);
            transform: rotate(-410deg);
  }
}
.bg__bg2 {
  z-index: -8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 9000px;
  position: absolute;
  mix-blend-mode: difference;
  background-image: url(./../images/smf__grad.png);
}
@media screen and (min-width: 1024px) {
  .bg__bg2 {
    background-image: url(./../images/sai__grad.png);
  }
}

main::before {
  position: fixed;
  will-change: transform, translate;
  -webkit-animation: grain 12s steps(5) infinite;
          animation: grain 12s steps(5) infinite;
  background-image: url(./../images/noise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.3;
  top: -100%;
  width: 300%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  main::before {
    opacity: 0.8;
  }
}
@media screen and (min-width: 1024px) {
  main::before {
    opacity: 0.6;
  }
}

@-webkit-keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
            transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
            transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
            transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
            transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
            transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
            transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
            transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
            transform: translate(-10%, 10%);
  }
}
/* 
// .bg__bg2 {
//     z-index: -8;
//     @include position__base;
//     height: (8000px);
//     position: absolute;
//     mix-blend-mode: saturation;
//     background-color: #3a6645;
//     // background-color: #2f3d3c;
//     isolation: isolate;
// }

// .bg__bg4 {
  //     z-index: -6;
  //     @include position__base;
  //     height: (8000px);
  //     position: absolute;
  //     mix-blend-mode: color-dodge;
  //     background: #5d51b9;
  // }
   */
.rotate-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hide-middle {
  opacity: 0;
}

.rotate-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}