.header {
    position: fixed;
    z-index: -1;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    mix-blend-mode: difference;
    color:rgb(209, 16, 16);
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ttl {
        padding-left: 15px;
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
}