.header {
    font-family: meno-banner, serif;
    position: fixed;
    z-index: 5;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    mix-blend-mode: difference;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__ttl {
        padding-left: 10px;
        font-size: 15px;
        color: rgb(115, 119, 119);
    }
    @media screen and (min-width: 768px) {
        font-size: 20px;
        padding-left: 10px;
    }

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        padding-left: 10px;
    }
}