.contact__ttl {
    @include font__meno;
    text-decoration: underline solid rgb(255, 255, 255) 1px;
    font-size: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: .1rem;
    mix-blend-mode: difference;
    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 1024px) {
        font-size: 80px;
    }
}

.form {
    position: relative;
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
        max-width: 100%;
    }
    @media screen and (min-width: 1024px) {
        font-size: 200%;
    }
    &__name {
        max-width: 500px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__email {
        max-width: 500px;
        width: 100%;
        margin-bottom: 20px;
    }
    &__label {
        mix-blend-mode: difference;
        max-width: 500px;
        width: 100%;
        display: block;
        padding: 20px 0;
        color: #ffffff;
        font-size: 20px;
    }
    &__input {
        // width: 100%;
        // padding: 10px;
        // background: rgb(165, 164, 164);
        // border-radius: 10px;
        // font-size: 14px;
        // letter-spacing: 0.2em;
        width: 100%;
        height: 25px;
        border: none;
        vertical-align: top;
        // opacity: 0.2;
    }
    &__message {
        max-width: 500px;
        width: 100%;
    }
    &__textarea {
        // opacity: 0.2;
        margin-bottom: 20px;
        width: 100%;
        height: 130px;
        padding: 10px;
        background: rgb(199, 199, 199);
    }
    &__submit {
        -webkit-appearance: none;
        // opacity: 0.8;
        width: 100%;
        padding: 0 100px 0 100px;
        background: rgb(29, 29, 29);
        color: azure;
        bottom: none;
        border-radius: 24px;
        font-size: 14px;
        letter-spacing: 0.2em;
        margin-bottom: 100px;
        &:hover {
            cursor: pointer;
            background: rgb(186, 186, 186);
        }
    }
}