body {
    cursor: crosshair;
    @include font__meno;
}

.mv {
    @include font__meno;
    z-index: -7;
    position: relative;
    height: 200vh;
    width: 100%;
    margin-bottom: 300px;
    mix-blend-mode: difference;
    // color: #dce8ca8c;
    color: #a0e6368c;
    @media screen and (min-width: 768px) {
        height: 200vh;
        margin-bottom: 500px;
    }
    @media screen and (min-width: 1024px) {
        height: 200vh;
        margin-bottom: 530px;
    }
    &__ttl {
        // font-family: meno-banner, serif;
        position: sticky;
        top: 0;
        left: 0;
        height: 11vh;
        margin-bottom: 500px;
        @media screen and (min-width: 768px) {
            height: 40vh;
            margin-bottom: 300px;
        }
        @media screen and (min-width: 1024px) {
            height: 40vh;
            margin-bottom: 300px;
        }
    }
    &__ttl--catch {
        padding-top: 80%;
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        overflow: hidden;
        @media screen and (min-width: 768px) {
            font-size: 100px;
            padding-top: 35%;
        }
        @media screen and (min-width: 1024px) {
            font-size: 150px;
            padding-top: 19%;
            line-height: 140px;
        }
    }
    &__ttl--txt {
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        @media screen and (min-width: 768px) {
            font-size: 50px;
        }
        @media screen and (min-width: 1024px) {
            font-size: 50px;
        }
    }
}

.consept {
    &__box {
        position: relative;
        margin-bottom: 300px;
    }
    &__ttl {
        @include font__meno;
        // font-family: meno-banner, serif;
        font-size: 25px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.618);
        margin-bottom: 40px;
        text-align: center;
        letter-spacing: .1rem;
        @media screen and (min-width: 768px) {}
        @media screen and (min-width: 1024px) {
            font-size: 40px;
        }
    }
    &__txt {
        font-weight: lighter;
        font-family: 'Klee One', cursive;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 0.782);
        font-size: 14px;
        margin: 0 auto;
        line-height: 34px;
        width: 330px;
        height: 100%;
        @media screen and (min-width: 768px) {}
        @media screen and (min-width: 1024px) {
            font-size: 18px;
            width: 400px;
        }
    }
    &__bg {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        font-size: 80px;
        line-height: 1.125;
        z-index: 0;
        opacity: 0.1;
        @media screen and (min-width: 768px) {}
        @media screen and (min-width: 1024px) {
            font-size: 300px;
        }
    }
}

.test {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    mix-blend-mode: overlay;
    color: #8279b6;
    margin-bottom: 100px;
    height: 100vh;
    // background: rgb(0, 0, 0);
}