html {
    @include font__base;
}



.bg__bg0 {
    @include position__base;
    height: (8000px);
    position: absolute;
    z-index: -10;
    background: #6D4739;

}

// .bg__bg1 {
//     @include position__base;
//     position: fixed;
//     top: 50px;
//     filter: blur(40px);
//     z-index: -9;
//     mix-blend-mode: lighten;

//     background: url(./../images/mv.jpg) center no-repeat;

//     @media screen and (min-width: 768px) {}

//     @media screen and (min-width: 1024px) {
//         top: 0px;
//         transform: scale(1.5);
//     }
// }

.bg__bg1 {
    position: fixed;
    animation: rotate-anime 70s linear infinite;
    will-change:transform,rotate;
    background: url(./../images/mv.jpg) center/cover;
    content: '';
    top: -100%;
    right: -500px;
    width: 3342px;
    height: 3342px;
    filter: blur(50px);
    z-index: -9;
    mix-blend-mode: lighten;
    visibility:visible;
  // opacity: 0.3;

}

@keyframes rotate-anime {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



.bg__bg2 {
    @include position__base;
    height: (8000px);
    position: absolute;
    z-index: -8;
    mix-blend-mode: saturation;
    background-color: #3a6645;
    isolation: isolate;
}

.bg__bg3 {
    @include position__base;
    height: (8000px);
    position: absolute;
    z-index: -7;
    mix-blend-mode: difference;
    background-image: url(./../images/sai__grad.png);
}

// .bg__bg4{
// @include position__base;
//     height: (8000px);
//     position: absolute;
//     z-index: -6;
//     mix-blend-mode: saturation;
//     background-image:url(./../grad__meian.png);
// }

.bg__bg5 {
    @include position__base;
    height: (8000px);
    position: absolute;
    z-index: -5;
    mix-blend-mode: color-dodge;
    background: #5d51b9;

}



.mv {
    position: relative;
    height: 200vh;
    z-index: -7;
    width: 100%;
    margin-bottom: 300px;
    mix-blend-mode: difference;
    color: #d1dac2;

    @media screen and (min-width: 768px) {
        height: 200vh;
        margin-bottom: 500px;
    }

    @media screen and (min-width: 1024px) {
        height: 200vh;
        margin-bottom: 530px;
    }

    &__ttl {
        position: sticky;
        top: 0;
        left: 0;
        height: 10vh;
        margin-bottom: 300px;

        @media screen and (min-width: 768px) {
            height: 40vh;
            margin-bottom: 300px;
        }

        @media screen and (min-width: 1024px) {
            height: 40vh;
            margin-bottom: 300px;
        }
    }

    &__ttl--catch {

        padding-top: 70%;
        text-align: center;
        font-size: 40px;
        margin: 0 auto;
        overflow: hidden;


        @media screen and (min-width: 768px) {
            font-size: 100px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 200px;
            padding-top: 16%;
            line-height: 170px;
        }
    }

    &__ttl--txt {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            font-size: 50px;
        }

        @media screen and (min-width: 1024px) {
            font-size: 50px;
        }
    }
}




.test {
    filter: blur(2px);
    mix-blend-mode: overlay;
    color: #8279b6;
    margin-bottom: 100px;
    height: 100vh;
    // background: rgb(0, 0, 0);
}

.test2 {
    margin-bottom: 100px;
}

// .test__container {
//     position: absolute;
//     top:0;
//     left: 20%;
//     z-index: 6;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 800px;
//     height: 600px;
//     background: #000;
// }









/////砂嵐
// main::before {
//     will-change: contents;
//     animation: grain 12s steps(5) infinite;
//     background-image: url(./../images/noise.png);
//     content: '';
//     height: 300%;
//     left: -50%;
//     position: fixed;
//     opacity: 0.3;
//     top: -100%;
//     width: 300%;
//     z-index: -1;

//     @media screen and (min-width: 768px) {
//         opacity: 0.8;
//     }

//     @media screen and (min-width: 1024px) {
//         opacity: 0.7;
//     }
// }

// @keyframes grain {

//     0%,
//     100% {
//         transform: translate(0, 0);
//     }

//     10% {
//         transform: translate(-5%, -10%);
//     }

//     20% {
//         transform: translate(-15%, 5%);
//     }

//     30% {
//         transform: translate(7%, -25%);
//     }

//     40% {
//         transform: translate(-5%, 25%);
//     }

//     50% {
//         transform: translate(-15%, 10%);
//     }

//     60% {
//         transform: translate(15%, 0%);
//     }

//     70% {
//         transform: translate(0%, 15%);
//     }

//     80% {
//         transform: translate(3%, 35%);
//     }

//     90% {
//         transform: translate(-10%, 10%);
//     }
// }
















.contact__ttl {
    position: relative;
    z-index: 1;
    font-size: 50px;
    text-align: center;
    color: rgb(218, 59, 59);
    mix-blend-mode: difference;
}

.form {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        max-width: 100%;
    }

    @media screen and (min-width: 1024px) {
        font-size: 200%;
    }

    &__name {
        max-width: 500px;
        width: 100%;
        margin-bottom: 20px;


    }

    &__email {
        max-width: 500px;
        width: 100%;
        margin-bottom: 20px;

    }


    &__label {
        mix-blend-mode: difference;
        max-width: 500px;
        width: 100%;
        display: block;
        padding: 20px 0;
        color: #6f5140;
        font-size: 20px;
    }

    &__input {
        // width: 100%;
        // padding: 10px;
        // background: rgb(165, 164, 164);
        // border-radius: 10px;
        // font-size: 14px;
        // letter-spacing: 0.2em;
        width: 100%;
        height: 25px;
        border: none;
        vertical-align: top;
        opacity: 0.2;
    }

    &__message {
        max-width: 500px;
        width: 100%;
    }

    &__textarea {
        opacity: 0.2;
        margin-bottom: 20px;
        width: 100%;
        height: 130px;
        padding: 10px;
        background: rgb(199, 199, 199);

    }

    &__submit {
        -webkit-appearance: none;
        opacity: 0.8;
        width: 100%;
        padding: 0 100px 0 100px;
        background: rgb(29, 29, 29);
        color: azure;
        bottom: none;
        border-radius: 24px;
        font-size: 14px;
        letter-spacing: 0.2em;

        &:hover {
            cursor: pointer;
            background: rgb(186, 186, 186);
        }
    }
}