.loop {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(163, 17, 17, 0);
    opacity: 0.1;
}

.bg__bg0 {
    z-index: -10;
    @include position__base;
    height:(7880px);
    position: absolute;
    background: #6D4739;
    @media screen and (min-width: 768px) {
        height: (8000px);
    }
    @media screen and (min-width: 1024px) {
        height: (8200px);
    }
}

.bg__bg2 {
    z-index: -8;
    @include position__base;
    height:(7880px);
    position: absolute;
    mix-blend-mode: difference;
    background-image: url(./../images/smf__grad.png);
    @media screen and (min-width: 768px) {
        height: (8000px);
    }
    @media screen and (min-width: 1024px) {
        height: (8200px);
        background-image: url(./../images/sai__grad.png);
    }
}

.bg__bg3 {
    @include position__base;
    position: absolute;
    z-index: -1;
    height:(7880px);
    mix-blend-mode: darken;
    background-color: #696AA9;
    @media screen and (min-width: 768px) {
        height: (8000px);
    }
    @media screen and (min-width: 1024px) {
        height: (8200px);
    }
}

.bg__bg1 {
    z-index: -9;
    position: fixed;
    transform: rotate(-50deg);
    will-change: transform;
    animation: rotate-anime 70s linear infinite;
    visibility: visible;
    background: url(./../images/mv.jpg) center/cover;
    content: '';
    top: -300px;
    left: -200px;
    width: 1468px;
    height: 1468px;
    filter: blur(50px);
    mix-blend-mode: lighten;
    @media screen and (min-width: 768px) {}
    @media screen and (min-width: 1024px) {
        top: -1150px;
        left: -200px;
        width: 3342px;
        height: 3342px;
    }
}





main::before {
    position: fixed;
    will-change: transform, translate;
    // animation: grain 12s steps(5) infinite;
    background-image: url(./../images/noise.png);
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.3;
    top: -100%;
    width: 300%;
    z-index: -2;
    @media screen and (min-width: 768px) {
        opacity: 0.8;
    }
    @media screen and (min-width: 1024px) {
        opacity: 0.6;
    }
}


@keyframes rotate-anime {
    0% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(-410deg);
    }
}

@keyframes grain {
    0%,
    100% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -25%);
    }
    40% {
        transform: translate(-5%, 25%);
    }
    50% {
        transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%, 0%);
    }
    70% {
        transform: translate(0%, 15%);
    }
    80% {
        transform: translate(3%, 35%);
    }
    90% {
        transform: translate(-10%, 10%);
    }
}

